@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Permanent+Marker&family=Poppins:wght@500&family=Roboto:wght@100&family=Shadows+Into+Light&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.wrap{
    background: url(./img/background.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    top: 45px;
    left: 0;
    right: 0;
    color: white;
    padding-top: 40px;
}
.btngroup{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.wrap .btngroup button{
    background-color:#006C67;
    color: white;
}
.wrap .btngroup button:hover{
    border:2px solid #006C67;
    background-color: transparent;
}
.navbar{
    background-color: #006699;
}
.navbar a{
    color: white;
}
.navbar a:hover{
    color: white;
    text-decoration: underline;
}
.navbar h2{
    color:white;
    font-size: 1.5rem;
}



.text-summary{
    background-color: #143d59;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    height: 500px;
}

.followme i{
  font-size: 2rem;
  color: white; 
}