@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Permanent+Marker&family=Poppins:wght@500&family=Roboto:wght@100&family=Shadows+Into+Light&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(109.6deg, rgb(255, 219, 47) 11.2%, rgb(244, 253, 0) 100.2%);
}
a{
    text-decoration: none;
}
.wrap{
    color: white;
    padding-top: 40px;
}
.btngroup{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.wrap .btngroup button{
    background-color:#006C67;
    color: white;
}
.wrap .btngroup button:hover{
    border:2px solid #006C67;
    background-color: transparent;
}
.navbar{
    background-color: #006699;
}
.navbar a{
    color: white;
}
.navbar a:hover{
    color: white;
    text-decoration: underline;
}
.navbar h2{
    color:white;
    font-size: 1.5rem;
}
.text-summary{
    background-color: #143d59;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    height: 450px;
    margin-top: 20px;
    overflow-y: scroll;
    overflow-x: scroll;
}
.text-summary::-webkit-scrollbar {
    display: none;
}

.text-summary{
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
.followme i{
  font-size: 2rem;
  color: white; 
}
.createdBy{
    margin-top: 10px;
}
.randomBtn{
    margin-bottom: 30px;
}